//connects to Post.js model

<div class="row align-center mb-5" id="posts">
  <div class="col-md-12 blog_top">
    <h3 class="blog_title">{{{postTitle}}}</h3>
    <p class="user_time">Posted by {{{username}}} on {{{postDate}}}</p>
  </div>

  <div class="col-md-12 blog_bottom">
    <h5>{{{post}}}</h5>
  </div>
</div>