<div class="row align-center mb-5" id="posts">
  
  <form>
  <div class="form-group col-md-12">
    <div class="blog_top col-md-12">
    <label for="formGroupExampleInput" class="blog_title">{{post.postTitle}}</label>
    <p class="user_time">Posted by {{post.user.username}} on {{format_date postDate}}</p>
    </div>

    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Edit Blog Title">
  </div>

  <div class="form-group col-md-12 blog_bottom">
    <label for="formGroupExampleInput2">{{post.post}}</label>
    <input type="text" class="form-control" id="blogContent" placeholder="Edit Blog Content">
  </div>
  <button type="button" class="col-md-12 btn btn-dark postBlog">Repost Blog</button>
</form>
</div>