{{#each Posted as |post|}}

<div class="row align-center mb-5 ">

  <div class="col-md-12 blog_top">
    <h3 class="blog_title">
      <a href="" {{{Title}}}</h3>

    <p class="user_time">Posted by {{{username}}} on {{{current_date}}}</p>
  </div>

  <div class="col-md-12 blog_bottom">
    <h5>Content Written Here</h5>
  </div>
</div>