<div class="row justify-space-between-md">
  <div class="login-card">
    <h2 class="page-title">Login</h2>
    <form class="form loginForm">
      <div class="form-group">
        <label for="emailLogin">Email:</label>
        <input class="form-input" type="text" id="emailLogin" />
      </div>
      <div class="form-group">
        <label for="passwordLogin">Password:</label>
        <input class="form-input" type="password" id="passwordLogin" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">login</button>
      </div>
    </form>
  </div>
  <div class="login-card">
    <h2 class="page-title">Signup</h2>
    <form class="form signupForm">
      <div class="form-group">
        <label for="usernameSignup">Username:</label>
        <input class="form-input" type="text" id="usernameSignup" />
      </div>
      <div class="form-group">
        <label for="emailSignup">Email:</label>
        <input class="form-input" type="text" id="emailSignup" />
      </div>
      <div class="form-group">
        <label for="passwordSignup">Password:</label>
        <input class="form-input" type="password" id="passwordSignup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">signup</button>
      </div>
    </form>
  </div>
</div>

<script src="../public/js/login.js"></script>