<div class="row">
    <div class="row blogTitle">
        <input class="form-control form-control-lg" type="text" placeholder="Blog Title">
    </div>
    
    <div class="row blogContent">
        <input class="form-control form-control-sm" type="text" placeholder="Blog Content">
    </div>
    <button type="button" class="btn btn-dark postBlog">Post Blog</button>
</div>